-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "campanhas" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "data_inicio" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "data_fim" TIMESTAMP(3),

    CONSTRAINT "campanhas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "atributos" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "icone" TEXT,

    CONSTRAINT "atributos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campanha_atributos" (
    "id" TEXT NOT NULL,
    "campanha_id" TEXT NOT NULL,
    "atributo_id" TEXT NOT NULL,

    CONSTRAINT "campanha_atributos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "candidatos" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "cargo" TEXT NOT NULL,
    "foto_url" TEXT,
    "cidade" TEXT NOT NULL,
    "bairro" TEXT,
    "campanha_id" TEXT NOT NULL,

    CONSTRAINT "candidatos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "avaliacoes" (
    "id" TEXT NOT NULL,
    "candidato_id" TEXT NOT NULL,
    "atributo_id" TEXT NOT NULL,
    "valor" INTEGER NOT NULL,
    "fingerprint_hash" TEXT NOT NULL,
    "ip_hash" TEXT NOT NULL,
    "user_agent" TEXT,
    "criado_em" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "avaliacoes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bloqueios" (
    "id" TEXT NOT NULL,
    "hash" TEXT NOT NULL,
    "motivo" TEXT,
    "expira_em" TIMESTAMP(3),
    "criado_em" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bloqueios_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "campanhas_slug_key" ON "campanhas"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "atributos_nome_key" ON "atributos"("nome");

-- CreateIndex
CREATE INDEX "avaliacoes_candidato_id_idx" ON "avaliacoes"("candidato_id");

-- CreateIndex
CREATE INDEX "avaliacoes_fingerprint_hash_idx" ON "avaliacoes"("fingerprint_hash");

-- CreateIndex
CREATE INDEX "avaliacoes_ip_hash_idx" ON "avaliacoes"("ip_hash");

-- CreateIndex
CREATE UNIQUE INDEX "bloqueios_hash_key" ON "bloqueios"("hash");

-- AddForeignKey
ALTER TABLE "campanha_atributos" ADD CONSTRAINT "campanha_atributos_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "campanha_atributos" ADD CONSTRAINT "campanha_atributos_atributo_id_fkey" FOREIGN KEY ("atributo_id") REFERENCES "atributos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "candidatos" ADD CONSTRAINT "candidatos_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "campanhas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "avaliacoes" ADD CONSTRAINT "avaliacoes_candidato_id_fkey" FOREIGN KEY ("candidato_id") REFERENCES "candidatos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "avaliacoes" ADD CONSTRAINT "avaliacoes_atributo_id_fkey" FOREIGN KEY ("atributo_id") REFERENCES "atributos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

